.dashboard-container {
  display: flex;
  height: 98vh;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}

.menu {
  flex: 0 0 5%;
  background-color: grey;
}

.sidebar {
  flex: 0 0 18%;
  padding: 0 15px;
  padding-top: 15px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
}

.chat-container,
.unselected-chat {
  flex: 0 0 53%;
  background-color: #fff; /* White chat area */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.unselected-chat {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.profile-info {
  flex: 0 0 19%;
  background-color: white; /* Very light gray */
  padding: 15px;
  overflow-y: auto;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.sidebar .user-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar .user-item:hover {
  background-color: rgb(237, 222, 252);
}

.sidebar .user-item.selected {
  background-color: rgba(69, 69, 211, 0.1);
}


/* .chat-container .chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
} */


/* .chat-container .received {
  align-self: flex-start;
  background-color: #e4e6eb;
} */

.profile-info h3 {
  margin-bottom: 10px;
  color: #333;
}
