.dashboard-container {
  display: flex;
  height: 98vh;
  width: 99vw;
  margin: 1vh auto;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--glass-border);
}

/* Ensure the main content area grows and handles the outlet */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background: radial-gradient(rgba(86, 25, 147, 0.766), transparent 50%); */
  position: relative;
  background-color: rgba(218, 17, 17, 8.95);
}