.sidebar {
  flex: 0 0 18%;
  padding: 0 15px;
  padding-top: 15px;
  margin-top: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
  border-right: #0095f6;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 3%;
  padding: 35px 10px;
  margin-top: 10px;
  /* background-color: rgb(196, 205, 230); */
  background-color: rgba(69, 69, 211, 0.3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 5px;
  margin-left: 9px;
  position: relative;
}

.user-profile {
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.more-menu {
  display: flex;
  justify-content: center;
}

.more-menu-img {
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.dropup-menu {
  width: 150px;
  position: absolute;
  bottom: 10%;
  left: 70%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-in-out;
  opacity: 0;
}

.dropup-menu.open {
  max-height: 200px;
  opacity: 1;
}

.dropup-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropup-menu li {
  padding: 15px 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.dropup-menu li:hover {
  background-color: #f5f5f5;
}

.logout-btn {
  padding: 8px 7px;
  border-radius: 7px;
  border: none;
  background-color: rgba(27, 27, 199, 0.621);
  color: white;
  cursor: pointer;
}


.search-container {
  padding-bottom: 10px;
}

.search-input {
  width: 90%;
  padding: 13px;
  border-radius: 10px;
  /* background-color: rgb(237, 222, 252); */
  background-color: rgba(69, 69, 211, 0.3);
  border: none;
  outline: none;
}

.sidebar .user-item {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-bottom: 1px solid #eae9e9;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  position: relative;
}

.sidebar .user-item:hover {
  background-color: rgb(237, 222, 252);
  /* background-color: rgba(57, 57, 209, 0.13); */
}

.sidebar .user-item.unread {
  background-color: #f0f8ff;
  font-weight: bold;
}

.sidebar .user-item.selected {
  background-color: rgba(57, 57, 209, 0.13);
}

.user-list {
  margin-top: 20px;
}

.user-avatar {
  width: 45px;
  height: 45px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  position: relative;
}


.online-indicator {
  position: absolute;
  bottom: 3px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid white;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-message-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}

.user-message {
  font-size: 16px;
  color: #2f2f2f;
  margin: 1px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unread-count {
  color: #2f2f2f;
  font-size: 13px;
  font-weight: bold;
}

.unseen-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #0095f6;
  border-radius: 50%;
  margin-left: 8px;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #7e7e7e;
  margin-left: 4px;
  position: relative;
}

.message-timestamp::before {
  content: "·"; /* Dot separator */
  position: absolute;
  left: -8px;
  color: #7e7e7e;
}

.blue-dot {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: traslateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #007bff;
  border-radius: 50%;
}

.last-active {
  font-size: 0.8rem;
  color: gray;
}

.user-meta {
  text-align: right;
}

.time {
  font-size: 12px;
  color: #aaa;
}

.notification-count {
  display: inline-block;
  background-color: #ff4d4d;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 12px;
}

/* .message-status {
  color: #4caf50;
  font-size: 14px;
} */
